bin/*
bin.debug/*
src/TheInternecineStrife/*/bin/*
src/TheInternecineStrife/*/obj/*
__pycache__
tools/__pycache__/*
demo/py2/__pycache__
demo/py2/__pycache__/*
demo/py3/__pycache__
demo/py3/__pycache__/*
*.pyc
*/._.DS_Store
*/.DS_Store

src/*/.vs/*

src/*/.vs